# Tipos de Variables

In [2]:
x = "Hello World"
type(x)

str

In [3]:
x = 20
type(x)

int

In [4]:
x = 20.5
type(x)

float

In [5]:
x = -30
type(x)

int

In [6]:
x = 10+1j
type(x)

complex

# Casting

In [ ]:
x = int(1)   
y = int(2.8) 
z = int("3")

In [ ]:
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2")

In [ ]:
x = str("s1") 
y = str(2)    
z = str(3.0)

# Estructuras

In [7]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [8]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [9]:
x = range(6)
type(x)

range

In [10]:
x[2]

2

In [11]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [12]:
x = True
type(x)

bool

# Funciones

In [13]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

# Clases

In [14]:
class MyClass:
  x = 5

In [15]:
p1 = MyClass()
print(p1.x)

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)